<%= form_tag(assignments_path, method: "get") do %>
  <%= @error_message  %>
 
  <p>
    <%= "Enter Number" %><br>
    <%= number_field_tag 'number', nil%>
  </p>
 
  <p>
    <%= submit_tag("Submit", :name=>"submit") %>
  </p>
<% end %>

<div>
<% if @combination_string.present? %>
 <%#= @combination_string%> 
 <%= @word_combinations%>
<% end%>
</div>

